<div class="up-outer">
  <div class="up-header">
    {{obj.name}} (<a routerLink="/items/{{objShortId}}">{{objShortId}}</a>)
  </div>
  <div class="up-data">
    <ng-container *ngIf="up.pairType == 'update'; then thenBlock else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <div class="obj-field obj-row" *ngFor="let key of objKeys" [class.updated-value]="up.previous[key] !== up.updated[key]">
        <span [class.no-bold]="key === 'updatedAt'">{{key}}</span>
        <span *ngIf="isGuid(up.previous[key]) && key !== '_id'; else previousString">
          <dcd-item-link [item$]="refObj$(up.previous[key])"></dcd-item-link>
        </span>
        <ng-template #previousString>
          <span [class.no-bold]="key === 'updatedAt'">{{up.previous[key]}}</span>
        </ng-template>
        <span *ngIf="isGuid(up.updated[key]) && key !== '_id'; else updatedString">
          <dcd-item-link [item$]="refObj$(up.updated[key])"></dcd-item-link>
        </span>
        <ng-template #updatedString>
          <span [class.no-bold]="key === 'updatedAt'">{{up.updated[key]}}</span>
        </ng-template>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="obj-field" *ngFor="let key of objKeys">
        {{key}}:
        <span *ngIf="isGuid(obj[key]) && key !== '_id'; else nonRefField">
          <dcd-item-link [item$]="refObj$(obj[key])"></dcd-item-link>
        </span>
        <ng-template #nonRefField>{{obj[key]}}</ng-template>
      </div>
    </ng-template>
  </div>
</div>
