.obj-row {
  display: flex;
  flex-direction: row;
}

.updated-value span {
  font-weight: bold;
}

.updated-value span.no-bold {
  font-weight: normal;
}

.obj-field span {
  flex: 1 1;
}

.up-header {
  font-size: 1.2em;
}
