<h1 mat-dialog-title>Application Error</h1>
<div>
  <div *ngFor="let error of es.errorList;">
    {{error}}
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="'yup, I thought so'">OK</button>
</div>
