<mat-card *ngIf="(matches$ | async).length === 0">
  <mat-card-content>
    No matching items found for id {{partialId}}
  </mat-card-content>
</mat-card>
<dcd-item *ngIf="(matches$ | async).length === 1" [item$]="obj$"></dcd-item>
<mat-card *ngIf="(matches$ | async).length > 1">
  <mat-card-content>
    Multiple matching items found for id {{partialId}}
    <mat-nav-list>
      <a mat-list-item *ngFor="let obj of matches$ | async" routerLink="/{{obj.tableName}}/{{obj.id}}">
        {{obj.tableName}}: {{obj.name}}
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>