<h1 mat-dialog-title>{{data.property}}</h1>
<div mat-dialog-content>
  <mat-nav-list>
    <a mat-list-item *ngFor="let refItem of refs" routerLink="/{{refItem.tableName}}/{{refItem.shortId}}">
      {{refItem.name}}
    </a>
  </mat-nav-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">OK</button>
</div>