<mat-card>
  <mat-card-title>Transaction Log</mat-card-title>
  <mat-card-content>
    <mat-accordion *ngIf="deLog.length; else elseBlock">
      <dcd-data-exchange *ngFor="let de of deLog" [de]="de"></dcd-data-exchange>
    </mat-accordion>
    <ng-template #elseBlock>
      <mat-card>
        <mat-card-content>
          No data exchange logs found
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-card-content>
</mat-card>
