<div class="mat-elevation-z8 table-container">
  <mat-toolbar  color="primary">
    <div class="toolbar-content">
      <span class="table-name">{{tableDef.labelMany}}</span>
      <form #searchForm="ngForm">
        <mat-form-field class="search-field">
          <input matInput type="text"
                 placeholder="Search"
                 name="search"
                 [ngModel]="searchTerm | async"
                 (ngModelChange)="searchTerm.next($event)">
        </mat-form-field>
      </form>
      <a mat-button routerLink="/new/{{table$ | async}}">Add</a>
    </div>
  </mat-toolbar>

  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"><a routerLink="/{{row.tableName}}/{{row._id}}">{{row.shortId}}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
          <div class="cell-content">{{row.name}}</div>
      </td>
    </ng-container>

    <ng-container *ngFor="let fc of fcArray" [matColumnDef]="fc.property">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{fc.property}}</th>
      <td mat-cell *matCellDef="let row">
          <div class="cell-content">
              <a *ngIf="row[fc.property]" routerLink="/{{fc.foreignTable}}/{{row[fc.property].shortId}}">{{row[fc.property].name}}</a>
          </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let col of colArray" [matColumnDef]="col.property">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</th>
      <td mat-cell *matCellDef="let row" [ngSwitch]="col.type">
          <div *ngSwitchCase="'boolean'" class="boolean-cell">
            <mat-checkbox disabled="true" [ngModel]="row[col.property]"></mat-checkbox>
          </div>
          <div *ngSwitchDefault class="cell-content">
            {{row[col.property]}}
          </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let col of refArray" [matColumnDef]="col.property">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.property}}</th>
      <td mat-cell *matCellDef="let row">

        <div *ngIf="row[col.property] && row[col.property].length <= 3" class="cell-content">
          <span *ngFor="let refObj of row[col.property]">
            <a routerLink="/{{col.referencedTable}}/{{refObj.shortId}}">{{refObj.name}}</a>
          </span>
        </div>
        <div *ngIf="row[col.property] && row[col.property].length > 3" class="cell-content">
          {{row[col.property].length}} items
        </div>
        <div *ngIf="! row[col.property]" class="cell-content">
          undefined
        </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let col of btmArray" [matColumnDef]="col.property">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.property}}</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row[col.property].length <= 3" class="cell-content">
          <span *ngFor="let refObj of row[col.property]">
            <a routerLink="/{{col.targetTable}}/{{refObj.shortId}}">{{refObj.name}}</a>
          </span>
        </div>
        <div *ngIf="row[col.property].length > 3" class="cell-content">
          <a routerLink="/{{col.targetTable}}/{{row[col.property][0].shortId}}">
            {{row[col.property][0].name}}
          </a>
          {{row[col.property].length}} items
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="editItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editObj(row)"><mat-icon>mode_edit</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [pageIndex]="0"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 50, 200]">
  </mat-paginator>
</div>
