.boolean-cell {
    text-align: center;
}

.cell-content {
    margin-left: 5px;
    margin-right: 5px;
}

.cell-content span {
    margin: 0 3px 0 3px;
}

.toolbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-container {
  margin: 1vw auto 0 auto;
  width: 88%;
}

.table-name {
    flex: 1 1;
}
