<mat-card *ngIf="obj">
  <mat-card-title>
    <a routerLink="/data/{{tdef.name}}">{{tdef.labelMany}}</a> > {{titleName()}}
  </mat-card-title>
  <mat-card-content>
    <form #itemForm="ngForm">
      <mat-form-field>
        <input matInput required placeholder="Name" [(ngModel)]="eObj.name" name="name">
        <div class="error mat-warn" *ngIf="errors['name']">{{errors['name']}}</div>
      </mat-form-field>
      <div *ngFor="let col of columns()" class="field col">
        <div [ngSwitch]="col.type" class="col-switch">
          <mat-form-field *ngSwitchCase="'string'">
            <input matInput [placeholder]="col.label" [(ngModel)]="eObj[col.property]" name="{{col.property}}">
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'text'">
            <textarea matInput [placeholder]="col.label" [(ngModel)]="eObj[col.property]" name="{{col.property}}"></textarea>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'date'">
            <input matInput [matDatepicker]="myDatepicker"
                   [placeholder]="col.label"
                   [(ngModel)]="eObj[col.property]"
                   name="{{col.property}}">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox  *ngSwitchCase="'boolean'"
                         [(ngModel)]="eObj[col.property]"
                          name="{{col.property}}">
            {{col.label}}
          </mat-checkbox>
        </div>
      </div>
      <div *ngFor="let fc of foreignColumns()" class="field fc">
        <dcd-foreign-object-selector (selected)="foreignObjectSelected($event, fc.property)"
          [tableName]="fc.foreignTable"
                                     [property]="fc.property"
                                     [value]="obj[fc.property]"
                                     [fieldError]="errors[fc.property]">
        </dcd-foreign-object-selector>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="newItem" color="primary" (click)="addItem()">Add</button>
    <button mat-button *ngIf="! newItem" color="primary" (click)="updateItem()">Update</button>
    <button mat-button *ngIf="! newItem" color="warn" (click)="deleteItem()">Delete</button>
    <a mat-button (click)="cancel()">Cancel</a>
  </mat-card-actions>
</mat-card>
