.mat-card {
    margin: 1vw auto 0 auto;
    width: 88%;
}

table.columns-table {
    border-spacing: 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 10px;
}


td {
    font-size: 16px;
    padding: 10px;
}

td.col1 {
    text-align: right;
    border-right: 1px solid rgba(0,0,0,.1);
}

td.col2 {

}

tr {

}

tr:nth-child(odd) {
    background-color: rgba(0,0,0,.01);
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,.03);
}
