<mat-card>
  <mat-card-title>
    <a routerLink="/data/{{tdef.name}}">{{tdef.labelMany}}</a> > {{obj.name}}
  </mat-card-title>
  <mat-card-content>
    <table class="columns-table">
      <tr>
        <td class="col1">ID</td>
        <td class="col2">{{obj.id}}</td>
      </tr>
      <tr *ngFor="let col of columns()" [ngSwitch]="col.type">
        <ng-template ngSwitchCase="boolean">
          <td class="col1">{{col.label}}</td>
          <td class="col2">
            <mat-checkbox disabled [ngModel]="obj[col.property]"></mat-checkbox>
          </td>
        </ng-template>
        <ng-template ngSwitchDefault>
          <td class="col1">{{col.label}}</td>
          <td class="col2">{{obj[col.property]}}</td>
        </ng-template>

      </tr>
      <tr *ngFor="let col of foreignColumns()">
        <td class="col1">{{col.property}}</td>
        <td class="col2">
          <a *ngIf="obj[col.property]" routerLink="/{{col.foreignTable}}/{{obj[col.property].shortId}}">{{obj[col.property].name}}</a>
        </td>
      </tr>
      <tr *ngFor="let col of referenceColumns()">
        <td class="col1">{{col.property}}</td>
        <td class="col2">
          <div *ngIf="obj[col.property].length <= 3" class="cell-content">
            <div *ngFor="let refObj of obj[col.property]">
              <a routerLink="/{{col.referencedTable}}/{{refObj.shortId}}">{{refObj.name}}</a>
            </div>
          </div>
          <div *ngIf="obj[col.property].length > 3" class="cell-content">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-description>
                  {{obj[col.property].length}} items
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item *ngFor="let refObj of obj[col.property]"
                   routerLink="/{{refObj.tableName}}/{{refObj.shortId}}">
                  {{refObj.name}}
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </div>
        </td>
      </tr>
      <tr *ngFor="let col of btmColumns()">
        <td class="col1">{{col.property}}</td>
        <td class="col2">
          <div *ngIf="obj[col.property].length <= 3" class="cell-content">
            <div *ngFor="let refObj of obj[col.property]">
              <a routerLink="/{{col.targetTable}}/{{refObj.shortId}}">{{refObj.fkSelectName()}}</a>
              <button mat-icon-button (click)="editBtmObj(col, refObj)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="obj[col.property].length > 3" class="cell-content">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-description>
                  {{obj[col.property].length}} items
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list-item *ngFor="let refObj of obj[col.property]">
                  <a matLine routerLink="/{{col.targetTable}}/{{refObj.shortId}}">{{refObj.fkSelectName()}}</a>
                  <button mat-icon-button (click)="editBtmObj(col, refObj)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </div>
          <button mat-icon-button (click)="addBtmObj(col.property)"><mat-icon>add</mat-icon></button>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/edit/{{obj.shortId}}">Edit</a>
  </mat-card-actions>
</mat-card>
