<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{shortId(de._id)}}
    </mat-panel-title>
    <mat-panel-description *ngIf="itemCount === 1; then oneItemBlock else multiItemBlock">
    </mat-panel-description>
    <ng-template #oneItemBlock>
      <mat-panel-description>
      {{de.op}} {{singleTable}} {{singleObj.name}} @ {{singleObj.updatedAt}}
      </mat-panel-description>
    </ng-template>
    <ng-template #multiItemBlock>
      <mat-panel-description>
      {{de.op}} {{itemCount}} items
      </mat-panel-description>
    </ng-template>
  </mat-expansion-panel-header>
  <mat-accordion *ngIf="itemCount > 1; else singleItemExpansion">
    <mat-expansion-panel *ngFor="let t of tableList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{t}}
        </mat-panel-title>
        <mat-panel-description>
          {{de.data[t].length}} items
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template ngFor let-itemPair [ngForOf]="de.data[t]">
        <dcd-update-pair [up]="updatePair(itemPair)"></dcd-update-pair>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <ng-template #singleItemExpansion>
    <dcd-update-pair [up]="singleUpdatePair"></dcd-update-pair>
  </ng-template>
</mat-expansion-panel>
