<div *ngIf="data.length == 0">
  No {{tDef.labelMany}} defined
</div>
<div *ngIf="data.length == 1">
  <mat-form-field>
    <input matInput [placeholder]="property" value="{{data[0].name}}" disabled="true">
  </mat-form-field>
</div>
<div *ngIf="data.length > 1">
  <form class="fk-form">
    <mat-form-field class="wide-form-field">
      <input type="text" matInput
             name="fcValue"
             [placeholder]="property"
             [ngModel]="initialValue()"
             (ngModelChange)="updateValue($event)"
              [matAutocomplete]="fc">
      <mat-error *ngIf="fieldError">{{fieldError}}</mat-error>
    </mat-form-field>
    <mat-autocomplete #fc="matAutocomplete" [displayWith]="displayValue">
      <mat-option *ngFor="let fObj of filteredOptions | async" [value]="fObj">{{fObj.fkSelectName()}}</mat-option>
    </mat-autocomplete>
  </form>
</div>
